@charset "utf-8";


.ui_panel_upload_file
{
  display:block;
}

.ui_panel_upload_file .ui_panel_upload_file_files ul,
.ui_panel_upload_file .ui_panel_upload_file_files li
{
  list-style:none;
  list-style-image:none;
  list-style-position:inside;
  list-style-type:none;
  margin:0;
  padding:0;
}

.ui_panel_upload_file .ui_panel_upload_file_files ul
{
  padding:5px 0px;
}

.ui_panel_upload_file .ui_panel_upload_file_files
{
  display:block;
  width:inherit;
  background:white;
  padding:5px 10px;
}

.ui_panel_upload_file .odd,
.ui_panel_upload_file .even
{
  float:left;
}

.ui_panel_upload_file .files_64 .odd,
.ui_panel_upload_file .files_64 .even
{
  width:30%;
}

.ui_panel_upload_file .files_32 .odd,
.ui_panel_upload_file .files_32 .even
{
  width:20%;
}

.ui_panel_upload_file .files_16 .odd,
.ui_panel_upload_file .files_16 .even
{
  display:block;
  float:none;
}

.ui_panel_upload_file .file .icon,
.ui_panel_upload_file .file .info
{
  float:left;
}

.ui_panel_upload_file .file .label
{
  display:block;
  color:#000000;
  font:13px/20px Arial sans-serif;
  text-decoration:none;
}

.ui_panel_upload_file .file .type,
.ui_panel_upload_file .file .size
{
  display:block;
  color:#888888;
  font:13px/20px Arial sans-serif;
}

.ui_panel_upload_file .files_64 .file .type,
.ui_panel_upload_file .files_64 .file .size
{
  line-height:15px;
}

.ui_panel_upload_file .files_64 .file .icon
{
  width:69px;
}

.ui_panel_upload_file .files_64 .file .label
{
  line-height:17px;
}

.ui_panel_upload_file .files_32 .file .type,
.ui_panel_upload_file .files_32 .file .size
{
  display:none;
}

.ui_panel_upload_file .files_32 .file .icon
{
  width:37px;
}

.ui_panel_upload_file .files_32 .file .label
{
  line-height:15px;
}

.ui_panel_upload_file .files_16 .file .label
{
  text-indent:5px;
}

.ui_panel_upload_file .files_16 .file .type,
.ui_panel_upload_file .files_16 .file .size
{
  float:left;
  font:13px/20px Arial sans-serif;
  text-indent:7px;
  color:#888888;
}

.ui_panel_upload_file .file .links a
{
  color:#125e86;
  text-decoration:none;
}

.ui_panel_upload_file .files_16 .file
{
  line-height:20px;
}
.ui_panel_upload_file .files_16 .file .info
{
  float:none;
  display:block;
}

.ui_panel_upload_file .files_16 .file .info img,
.ui_panel_upload_file .files_16 .file .label
{
  float:left;
}

.ui_panel_upload_file .files_16 .file .links
{
  width:200px;
  float:right;
  text-align:right;
}

.ui_panel_upload_file_progress
{
  display:none;
  width:177px;
  height:25px;
  line-height:25px;
  margin:0;
  padding:0;
  border:1px solid #008000;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
}

.ui_panel_upload_file_progress div
{
  display:none;
  width:0%;
  height:25px;
  line-height:25px;
  margin:0;
  padding:0;
  background:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDE3NSwyMzgsMjM4LDEpOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOnJnYmEoMCwxMjgsMCwxKTsiIC8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgZmlsbD0idXJsKCNncmFkaWVudCkiIGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIC8+PC9zdmc+');
  background:-o-linear-gradient(left, rgba(175,238,238,1), rgba(0,128,0,1));
  background:-moz-linear-gradient(left, rgba(175,238,238,1), rgba(0,128,0,1));
  background:-webkit-gradient(linear, left top, right top, color-stop(0, rgba(175,238,238,1)), color-stop(1, rgba(0,128,0,1)));
  filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr=#FFAFEEEE,EndColorStr=#FF008000);
  -ms-filter:"progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr=#FFAFEEEE,EndColorStr=#FF008000)";
}

.ui_panel_upload_file_progress div div
{
  display:none;
  color:#ffffff;
  height:20px;
  line-height:27px;
  font:15px/27px Arial Sans sans-serif;
  text-align:center;
  background:transparent;
}

.ui_panel_upload_file_chooser
{
  background:#ffffff;
  padding:10px 0;
}
